<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello Django</title>
</head>
<body bgcolor="#F0FFFF">
    <div id="header" >
        <h5 align="right"> {% firstof user.get_short_name user.get_username %} <a href="/accounts/login/">Выйти</a></h5>
        <h1 align="left"><font face="Century gothic" size="+5" color="black">Главная страница</font><h1>
        <hr align="left" width="25%" size="3" color="#2F4F4F"/>
    </div>
    <table align="left">
    <tr align="center">
        <th>
            <input style = "width: 200px; height:30px;" type="button" onclick="window.location.href = '{% url 'order' %}';" value="Накладная"/>
        </th>
    </tr>
    <tr>
        <th>
            <input style = "width: 200px; height:30px;" type="button" onclick="window.location.href = '{% url 'product' %}';" value="Товары"/>
        </th>
    </tr>
        <tr>
        <th>
            <input style = "width: 200px; height:30px;"  type="button" onclick="window.location.href = '{% url 'user' %}';" value="Пользователи"/>
        </th>
    </tr>
        <tr>
        <th>
            <input style = "width: 200px; height:30px;"  type="button" onclick="window.location.href = '{% url 'locality' %}';" value="Местонахождение"/>
        </th>
    </tr>
        <tr>
        <th>
            <input style = "width: 200px; height:30px;"  type="button" onclick="window.location.href = '{% url 'client' %}';" value="Клиенты"/>
        </th>
    </tr>
        <tr>
        <th>
            <input style = "width: 200px; height:30px;"  type="button" onclick="window.location.href = '{% url 'backup_copy' %}';" value="Резервные копии"/>
        </th>
    </tr>

    </table>
</body>
</html>